body{
    background-color: darkgoldenrod;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid black;
    vertical-align: top;
    overflow-wrap: break-word;
}